html, body {
    background: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*
    Style Guide?

    Background: #fff;
    Unselected Nav: #9D9D9C;
    Selected Nav: #fff;
    Title: #6fc5db;
    Accent Grey: #aaa;
    Text: #333;
*/